---
import minifestPrincesaGabriela from '../assets/minifest-princesa-gabriela.png'
---

<footer class="flex-none py-16">
	<div
		class="mx-auto flex max-w-7xl flex-col items-center justify-between px-4 sm:px-6 md:flex-row lg:px-8"
	>
		<div>
			<img src={minifestPrincesaGabriela.src} class="h-24" alt="" />
		</div>
		<p class="mt-6 text-center text-sm text-slate-200 md:mt-0">
			Copyright © <!-- -->2025<!-- -->
			<a href="https://manueldenis.netlify.app/" target="_blank">Manuel Denis</a>. Todos los
			derechos reservados.
		</p>
	</div>
</footer>
