---
import minifestPrincesaGabriela from '../assets/minifest-princesa-gabriela.png'

---


<section class="py-20 sm:py-32">
	
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="mx-auto max-w-2xl lg:mx-0">
			<h2
				id="speakers-title"
				class="font-display text-4xl font-medium tracking-tighter text-blue-600 sm:text-5xl"
			>
				Invitados Especiales
			</h2>
			<p class="font-display mt-4 text-2xl tracking-tight text-blue-900">
				Learn from the experts on the cutting-edge of deception at the most sinister companies.
			</p>
		</div>
		<div
			class="mt-14 grid grid-cols-1 items-start gap-x-8 gap-y-8 sm:mt-16 sm:gap-y-16 lg:mt-24 lg:grid-cols-3"
		>
			
            <div class="lg:col-span-3">
				<div
					class="grid grid-cols-1 gap-x-8 gap-y-10 data-selected:not-data-focus:outline-hidden sm:grid-cols-2 sm:gap-y-16 md:grid-cols-3"
				>
					<div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div>
							<div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
								<img
									alt=""
									width="1120"
									height="560"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									src={minifestPrincesaGabriela.src}
								/>
							</div>
						</div>
                        <h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Steven McHail
						</h3>
                        <p class="mt-1 text-base tracking-tight text-slate-500">
							Designer at Globex Corporation
						</p>
					</div>
                    <div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjaquelin-isch.880e5248.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Jaquelin Isch
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">UX Design at InGen</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdianne-guilianelli.b4c5891f.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Dianne Guilianelli
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							General Manager at Initech
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fronni-cantadore.0d04b7fe.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Ronni Cantadore
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Design Engineer at Weyland-Yutani
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ferhart-cockrin.3697fef6.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Erhart Cockrin
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Product Lead at Cyberdyne Systems
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fparker-johnson.3f6d7276.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Parker Johnson
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">UI Designer at MomCorp</p>
					</div>
				</div>
                <div
					class="grid grid-cols-1 gap-x-8 gap-y-10 data-selected:not-data-focus:outline-hidden sm:grid-cols-2 sm:gap-y-16 md:grid-cols-3"
					id="headlessui-tabs-panel-:Rlal7qfja:"
					role="tabpanel"
					tabindex="-1"
					hidden=""
					style="display:none"
					data-headlessui-state=""
					aria-labelledby="headlessui-tabs-tab-:Rqjal7qfja:"
				>
					<div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdamaris-kimura.5df6b6b2.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Damaris Kimura
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">Senior Engineer at OCP</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fibrahim-frasch.56350f5a.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Ibrahim Frasch
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Programmer at Umbrella Corp
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcathlene-burrage.1651afc0.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Cathlene Burrage
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Frontend Developer at Buy n Large
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frinaldo-beynon.c48f36b7.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Rinaldo Beynon
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Data Scientist at Rekall
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fwaylon-hyden.4c037cf5.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Waylon Hyden
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							DevOps at RDA Corporation
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiordano-sagucio.2d66325a.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Giordano Sagucio
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Game Developer at Soylent Corp
						</p>
					</div>
				</div>
                <div
					class="grid grid-cols-1 gap-x-8 gap-y-10 data-selected:not-data-focus:outline-hidden sm:grid-cols-2 sm:gap-y-16 md:grid-cols-3"
					id="headlessui-tabs-panel-:Rtal7qfja:"
					role="tabpanel"
					tabindex="-1"
					hidden=""
					style="display:none"
					data-headlessui-state=""
					aria-labelledby="headlessui-tabs-tab-:Rrjal7qfja:"
				>
					<div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fandrew-greene.b3513453.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Andrew Greene
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Frontend Developer at Ultratech
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheather-terry.3aaa9642.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Heather Terry
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Backend Developer at Xanatos Enterprises
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
								<img
									alt=""
									fetchpriority="high"
									width="1232"
									height="616"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpiers-wilkins.c197a055.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Piers Wilkins
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Full stack Developer at BiffCo
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-blue-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-0)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgordon-sanderson.88b5e762.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Gordon Sanderson
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Mobile Developer at Cobra Industries
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-indigo-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-1)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fkimberly-parsons.0e123ad0.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Kimberly Parsons
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">
							Game Developer at Tyrell Corporation
						</p>
					</div><div>
						<div class="group relative h-[17.5rem] transform overflow-hidden rounded-4xl">
							<div
								class="absolute top-0 right-4 bottom-6 left-0 rounded-4xl border border-sky-300 transition duration-300 group-hover:scale-95 xl:right-6"
							>
							</div><div class="absolute inset-0 bg-indigo-50" style="clip-path:url(#:R57qfja:-2)">
								<img
									alt=""
									fetchpriority="high"
									width="1120"
									height="560"
									decoding="async"
									data-nimg="1"
									class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110"
									style="color:transparent"
									sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw"
									srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=256&q=75 256w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=384&q=75 384w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=640&q=75 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=750&q=75 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=828&q=75 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=1080&q=75 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=1200&q=75 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=1920&q=75 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=2048&q=75 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=3840&q=75 3840w"
									src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frichard-astley.599fe903.jpg&w=3840&q=75"
								/>
							</div>
						</div><h3 class="font-display mt-8 text-xl font-bold tracking-tight text-slate-900">
							Richard Astley
						</h3><p class="mt-1 text-base tracking-tight text-slate-500">CEO at Roll Out</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
