---
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>MiniFest Benéfico en Botanic Algeciras por Princesa Gabriela</title>

		<!-- Meta SEO -->
		<meta
			name="description"
			content="MiniFest Benéfico 2025 en Botanic Algeciras con música, comida solidaria y buen ambiente para apoyar la investigación del síndrome Huppke-Brendel. ¡Colabora con la causa de la Princesa Gabriela!"
		/>
		<meta
			name="keywords"
			content="festival benéfico, Princesa Gabriela, Algeciras, música en vivo, evento solidario, Botanic, síndrome Huppke-Brendel, concierto, ayuda, enfermedad rara"
		/>
		<meta name="author" content="BOTANIC & Asociación Princesa Gabriela" />

		<!-- Open Graph -->
		<meta
			property="og:title"
			content="MiniFest Benéfico en Botanic Algeciras por Princesa Gabriela"
		/>
		<meta
			property="og:description"
			content="Sábado 3 de mayo en BOTANIC Algeciras. Más de 10 bandas, DJ, comida solidaria y mucho más para apoyar la investigación del síndrome Huppke-Brendel. ¡Súmate a esta causa solidaria!"
		/>
		<meta
			property="og:image"
			content="https://minifestbenefico.com/minifest-benefico-princesa-gabriela-horizontal.webp"
		/>
		<meta property="og:url" content="https://minifestbenefico.com/" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="MiniFest Benéfico en Botanic Algeciras por Princesa Gabriela"
		/>
		<meta
			name="twitter:description"
			content="Música en vivo, solidaridad y mucho corazón en BOTANIC Algeciras este 3 de mayo. ¡Participa o colabora con FILA 0!"
		/>
		<meta
			name="twitter:image"
			content="https://minifestbenefico.com/minifest-benefico-princesa-gabriela-horizontal.webp"
		/>
	</head>
	<body class="flex min-h-full">
		<div
			class="fixed inset-0 -z-10 h-full w-full bg-gradient-to-tl from-cyan-800 via-cyan-700 to-cyan-200"
		>
		</div>
		<slot />
	</body>
</html>
